:root {
  --color-logo: #d41443;
  --color-bgr-main: #fff5f6;
  --color-bgr-first: #ffb8ca;
  --color-bgr-second: #ffa5ba;
  --color-bgr-third: #f0d1a5;
  --color-bgr-fourth: #c2e297;
  --color-footer-rights: #907e82;
  --color-bgr-modal: #e17992;
  --color-linea: #e1e1e1;

  --shadow-cards: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --shadow-modal: (-8px 0px 20px rgba(0, 0, 0, 0.25));

  --animating: cubic-bezier(0.4, 0, 0.2, 1);
}
